body {
  font: normal 20px Verdana, Arial, sans-serif;
}


#main{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  #title,
  #Number{
    text-align: center;
    }